#notifications {
    position: fixed;
    top: 0;
    z-index: 5;
    color: white;
    width: 100vw;
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    text-transform: uppercase;
}
#notifications p{
    
    padding: 1vw;
   
}

@media (max-width:500px){
    #notifications p{
        font-size: 5vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}