#start{
    height: 50vh;
    background-image: url("/images/deal.webp");
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
#services h3{
    font-size: 2vw;
}

#start h1{
    color: white;
    text-transform: uppercase;
    font-size: 5vw;
    width: 100vw;
    text-align: center;
    backdrop-filter: blur(5px);

}
#providedServices,#otherVehicles,#otherServices{
    text-align: center;
    padding:5vh 10vw;
    background-color: lightgray;
}

#providedServices h1{
    font-size: 4vw;
    padding-bottom: 2vh;
}
#providedServices p, #otherVehicles p,#otherServices p{
    padding: 2vh 5vw;
    text-align: left;
    text-indent: 2vw;
    font-size: 1.8vw;
}
#services article h1{
    font-size: 2.2vw;
}
#services article img{
    width: 20vw;
    aspect-ratio: 16/9;
}
#services article li p{
    font-size: 1.8vw;
}

#canadaAuctions,#USAAuctions,#canadaVehicles,#USAVehicles{
    text-align: left;
    padding: 0vh 15vw;
    color: gray;
    margin-top: 5vh;
}
#canadaAuctions ul,#canadaVehicles ul,#USAVehicles ul{
    display: flex;
    margin: 5vh 0;
    justify-content: space-around;
    column-gap: 5vw;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5vh;
    column-gap: 5vw;
}
#USAAuctions ul{
    
        display: flex;
        margin: 5vh 0;
        justify-content: space-around;
        align-items: center;
    
}
#canadaAuctions a, #USAAuctions a,#canadaVehicles a,#USAVehicles a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    text-decoration: none;
    color: black;
}

#otherServices{
    background-color: white;
   
    
}
#otherServices h3{
    margin-top: 4vh;
    margin-bottom: 1vh;
}
#satisfaction{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("/images/satisfaction.jpg");
    
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center ;
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-between;
    color: white;
    align-items: center;
    gap: 3vw;
    
    
    
}
#satisfaction p{
    max-width: 46vw;
   max-height: 80vh;
   font-size: 1.4vw;
   

}
#satisfaction h1{
    font-size: 5vw;
}

@media (max-width:600px){
    #services #start h1{
       font-size: 7vw;
    }
    #services #providedServices h1{
        font-size: 5vw;
    }
    #providedServices, #otherVehicles, #otherServices{
        padding: 5vh 4vw;
    }
    #services h3{
        font-size: 4vw;
    }
    #canadaAuctions, #USAAuctions, #canadaVehicles, #USAVehicles{
        padding: 0 5vw;
    }
    #canadaAuctions ul, #canadaVehicles ul, #USAVehicles ul, #USAAuctions ul{
        gap: 5vw;
        flex-direction: column;
    }
    #satisfaction{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 5vh 4vw;
        height: 120vh;
    }
    #satisfaction h1{
        font-size: 8vw;
        overflow-y: hidden;
    }
    #satisfaction p{
        font-size: 3.4vw;
        font-weight: 600;
        line-height: 3.5vh;
        overflow-y: visible;
    }
}
@media (max-width:900px) and (min-width:601px){
    #start h1{
        font-size: 7vw;
    }
    #providedServices,#otherVehicles,#otherServices{
        padding: 5vh 5vw;
    }
    #services h3 {
        font-size: 3vw;
    }
    #providedServices h1{
        font-size: 5vw;
        padding-bottom: 5vh;
    }
    #canadaAuctions,#USAAuctions,#canadaVehicles,#USAVehicles{
        padding: 0 5vw;
    }
    #canadaAuctions ul, #canadaVehicles ul, #USAVehicles ul{
        column-gap: 6vw;
        row-gap: 5vh;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #satisfaction{
       padding: 4vh 4vw; 
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       text-align: center;
    }
    #satisfaction p{
        font-size: 2.3vw;
        line-height: 3vh;
        max-width: 70ch;
        overflow-y: hidden;
    }
}
@media (min-width:901px) and (max-width:1200px){
    #satisfaction p{
        font-size: 1.7vw;
    }
}
