#interior{
    width: 100vw;
    height: 60vh;
    background-image: url("/images/interior.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
#specifics{
    margin: 12vh 0;
    padding: 0 20vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    
    gap: 1vh;
}
#specifics h1{
    padding-bottom: 3vh;
    border-bottom: 3px solid lightgray;
    font-size: 3vw;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    
}
#specifics h1 button{
    background-color: transparent;
    border: none;
    font-size: 3vw;
}
#specifics p{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 1.4vw;
}

#carImages{
    width: 60vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#carImages i{
    color: white;
   
    font-size: 3vw;
    padding-right: 1vw;
    padding-left: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    
}
#carImages button{ background-color: transparent;
backdrop-filter: blur(10px);
border-color: transparent;
border-radius: 4vw;
margin: 1vw;}

#moreInfo{
    margin-top: 7vh;
    padding-bottom: 2vh;
    border-bottom: 3px solid lightgray;
}
#moreInfo h2{
    margin-bottom: 2vh;
}
#moreInfo p{
    margin-bottom: 2vh;
    text-indent: 1vw;
    
}
#continueBrowsing{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
#continueBrowsing button{
    color: white;
    background-color: black;
    border-radius: 1vw;
    padding: 1vw;
    text-transform: uppercase;
    font-size: 1.5vw;
}
button:hover{
    cursor: pointer;
}

@media (max-width:500px){
    #interior{
        height: 40vh;
        
    }
    #specifics{
        padding: 0 2vw;
        align-items: center;
        margin: 6vh 0;
        row-gap: 3vh;
    }
    #specifics h1{
        font-size: 7vw;
        width: 90vw;
        align-items: center;
    }
    #specifics h1 i{
        font-size: 7vw;
    }
    #specifics p{
        font-size: 4vw;
        padding: 0 5vw;
        text-align: left;
        align-self: self-start;
    }
    #specifics i{
        font-size: 8vw;
        padding-right: 2vw;
    }
    #carImages{
        width: 90vw;
        background-size: contain;
        height: auto;
        margin:7vh 0;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        aspect-ratio: 16/10;
    }
    #moreInfo h2{
        padding: 0 5vw;
    }
    #continueBrowsing button{
        font-size: 6vw;
        padding: 3vw;
        border-radius: 3vw;
    }
}