#offersStart video{
   width: 100vw;
    position: fixed;
    top: 0;
    z-index: -2;
    object-fit: cover;
}
#offersStart{
    display: flex;
    justify-content: center;
    height: 70vh;
    /* background-color: black; */
    align-items: center;
}
#offersStart h1{
    color: white;
    font-size: 5vw;
    text-transform: uppercase;
   
    width: 100vw;
    backdrop-filter: blur(5px);
    text-align: center;
    
}
#currentOffer #cars{
    background-color: white;
}
#noCars{
    text-align: center;
    background-color: lightgray;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-transform: uppercase;
}

#cars img{
    width: 40vw;
    margin-right: 6vw;
}
#cars{
    padding: 8vh 13vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#cars li{
    display: flex;
    gap: 0vw;
    
    align-items: center;
    padding: 2vw;
    border: 3px solid lightgrey;
}
#cars a{
    text-decoration: none;
    color: black;
}
#cars h1{
    font-size: 1.7vw;
}
#cars li h1{
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: 3px solid lightgray;
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-content: center;
}
#cars li section{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#currentOffer #sort{
    background-color: white;
    display: flex;
    padding: 3vh 13vw;
    padding-top: 5vh;
    padding-bottom: 0;
    justify-content: space-evenly;
    align-items: center;
}
#sort button{
    padding: 1vw;
    border-radius: 1vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
}

#sort button:hover{
    cursor: pointer;
}


@media (max-width:500px){
   #offersStart video{
    display: none;
   
   
   }
   #offersStart{
    
    height: 50vh;
     background-image: url("/images/alpine.jpg");
     background-size: cover;
     background-position: center ;
     background-attachment: fixed;
     
   }
   #offersStart h1{
    font-size: 8vw;
   }
   #sort button{
    font-size: 5vw;
    
   }
   #currentOffer #sort{
   flex-wrap: wrap;
   column-gap: 3vw;
   row-gap: 4vh;
   flex-direction: column;
   }
   #cars{
    padding: 0;
    margin-top: 8vh;
    gap: 5vh;
    margin-bottom: 7vh;
   }
   #cars li{
    flex-direction: column;
    padding: 0vw;
    border: none;
    margin-bottom: 7vh;
   }
   #cars img{
    width: 100vw;
    margin: 0;
   }
   #cars li h1{
    font-size: 7vw;
    width: 100vw;
    padding: 2vh 5vw;
   }
   #cars li p{
    padding: 0 5vw;
   }
}