#notFound{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vw;
    gap: 4vh;
}
#notFound h1{
    font-size: 4vw;
    text-align: center;
}
#notFound button{
    font-size: 2.5vw;
    padding: 2vw;
    border-radius: 2vw;
    background-color: black;
}
#notFound a{
    text-decoration: none;
    color: white;
}


@media (max-width:600px){
    #notFound h1{
        font-size: 6vw;
    }
    #notFound button{
        font-size: 5vw;
    }
}
@media (max-width:900px) and (min-width:601px){
    #notFound h1{
        font-size: 6vw;
    }
    #notFound button{
        font-size: 5vw;
    }
}