#heading {
    background-image: url("/images/contacts.jpg");
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}
#heading h1{
    color: white;
    font-size: 4vw;
    width: 100vw;
    text-align: center;
    backdrop-filter: blur(5px);
}

#email{
    display: flex;
    width: 100vw;
    height: 110vh;
    
}
#leftPartContacts{
    width: 55vw;
    background-image: url("/images/porsche.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}
#contactsForm{
    width: 45vw;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    
}
#contactsForm input{
border-top: transparent;
border-right: transparent;
padding: 1vw;
border-radius: 10px;
margin: 1vh;
margin-bottom: 1.5vh;
}
#contactsForm h1{
    font-size: 2.3vw;
    
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 4vh;
}

#contactsForm form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#contactsForm button{
    margin-top: 3vh;
    padding: 1vw;
    border-radius: 1vw;
}
#office{
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}
#office ul{
    display: flex;
    padding: 3vw;
    justify-content: space-evenly;
    text-align: center;
}
#office i,#office a{
    font-size: 5vw;
    overflow-y: hidden;
    color: black;
}

@media (max-width:600px){
    #heading h1{
        font-size: 10vw;
    }
    #leftPartContacts{
        width: 0vw;
    }
    #contactsForm{
        margin-top: 5vh;
        padding: 0 5vw;
        justify-content: center;
        width: 100vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("/images/porsche.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        
    }
    #email{
        justify-content: space-between;
    }
    #contactsForm h1{
        font-size: 6.5vw;
        color: white;
        margin-bottom: 3vh;
    }
    #office ul{
        flex-direction: column;
        gap: 5vh;
        margin-bottom: 7vh;
    }
    #office i{
        font-size: 12vw;
    }
    #contactsForm label{color: white;}
    #contactsForm button{
        border-radius: 3vw;
        font-size: 6vw;
        margin-top: 3vh;
    }
}
