nav{
    width: 100vw;
    position: static;
    top: 0;
    padding-top: 2vh;
    z-index: 1;
    background-color: white;
   
}

nav #sharedMenu{
    display: flex;
    justify-content: space-around;
    height: 15vh;
    overflow-y: hidden;
    
}
 nav #sharedMenu li{
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    align-self: center;
    overflow-y: hidden;
    text-transform: uppercase;
    list-style: none;
   
    
}
nav li a{
color: black;
text-decoration: none;
}
nav li img{
   
  width: 13vw;
}
nav #sharedMenu #specialLi{
    background-color: black;
    color: white;
    padding: 1vw;
    border-radius: 1vw;
}
nav #sharedMenu #specialLi a{
    color: white;
}
nav #sharedMenu #logoReplacement{
    display: none;
}
nav #mobileMenu{
    display: none;

}
nav #sharedMenu #foldMenu{
    display: none;
}

#mobileMenu button, #sharedMenu button{
    background-color: transparent;
    border: none;
}

@media (max-width:500px){
    nav #mobileMenu{
        display: flex;
        justify-content: space-between;
        padding-left: 6vw;
        padding-right: 6vw;
        align-items: center;
    }
    #mobileMenu img{
        width: 40vw;
        height: 12vh;
    }
    #mobileMenu i{
        font-size: 7vw;
    }
  
    nav #sharedMenu{
        flex-direction: column;
        
        margin-bottom: 1vh;
        display: none;
        
    }
    nav #sharedMenu #foldMenu{
        display: block;
    }
    nav #sharedMenu li{
        font-size: 3.5vw;
    
       
    }
    nav{
        padding-top: 1vh;
    }
    #logoLi{
        display: none;
    }
     nav #sharedMenu #logoReplacement{
        display: block;
    }

}